<a href="https://colab.research.google.com/github/kuznechek/Python-Code-for-HSE-students/blob/main/Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 1

In [ ]:
x = int(input())
if (x >= 6 and x <= 8) or (x >= 16 and x <= 17):
  print("True")
else:
  print("False")

Задача 2

In [ ]:
# 1 день - Вася работает
# 2 день - Вася не работает
# 3 день - Вася не работает

x = int(input())
a = x % 3 
# a = 0 - 3 день (не работает)
# a = 1 - 1 день (работает)
# а = 2 - 2 день (не работает)
if a == 2 or a == 0:
  print(False)
else:
  print(True)

Задача 3

In [ ]:
n = int(input())
if n == 1:
  print('One')

Задача 4

In [ ]:
a = int(input())
b = int(input())
if a > b:
  print(a)
else:
  print(b)

Задача 5

In [ ]:
masha = int(input())
petya = int(input())
if masha > petya:
  print('Маша')
elif petya > masha:
  print('Петя')
else:
  print('Ничья')

Задача 6

In [ ]:
n = int(input())
if (n % 4 == 0) and (n % 100 != 0) or (n % 400 ==0):
  print('YES')
else:
  print('NO')

Задача 7

In [ ]:
n = int(input())
b = 1
while b**3 <= n**2:
  print(b**3)
  b += 1

Задача 8

In [ ]:
n = int(input())
max = int(input())
for i in range(n-1):
  b = int(input())
  if b > max:
    max = b
print(max)

Задача 9

In [ ]:
# 1
# 2
# 6
# 0

k = 0

elem1 = int(input())
while elem1 != 0:
  elem2 = int(input())
  if elem2 > elem1:
    k += 1
  elem1 = elem2
print(k)

Задача 10

In [ ]:
n = int(input())
b = ''
for i in range(1,n+1):
  b = b + str(i) + ' '
  print(b)

25
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25